<!-- BEGIN:body -->
<body>
<div id="body">
    <div id="leftPan">
        <h2 class="duty">О Компании</h2>
        <ul class="boLink">
            <li><a href="/pays.php" class="grap"><span>Платежи</span>Платежи и приходы</a></li>
            <li><a href="#" class="tools"><span>Информация</span>Информация о доме</a></li>
            <li><a href="#" class="ser"><span>Тендер</span>Заявки на тендер</a></li>
            <li><a href="#" class="pro"><span>Форум</span>Общение жильцов</a></li>
        </ul>
        <p class="duty_text">Наша компания делает то то. Наша компания делает то то. Наша компания делает то то. 
        Наша компания делает то то. Наша компания делает то то. Наша компания делает то то. Наша компания делает то то. 
        </p>
        <p class="duty_text">А еще это и это и это. А еще это и это и это.А еще это и это и это.А еще это и это и это.
        А еще это и это и это.А еще это и это и это.А еще это и это и это.А еще это и это и это.А еще это и это и это.
        </p>
        {FILE {news}}
    </div>				
    <br class="spacer" />
</div>
<!-- END:body -->
