<!-- BEGIN:body -->
<script type="text/javascript">
    
</script>
<body>
<div id="body">
    <div id="leftPan">
        <!-- BEGIN:form -->
        <form class="change" name='{form.name}' action='{form.action}' method='{form.method}' enctype='{form.enctype}'>
            <!-- BEGIN:label -->
            <p class="change">{label.text}:</p>
            <!-- END:label -->
            
            <!-- BEGIN:input -->
            <p class="change"><input type='{input.type}' size='{input.size}' {input.required} placeholder='{input.placeholder}' pattern='{input.pattern}' name='{input.name}' value='{input.value}'/></p>
            <!-- END:input -->
            
            <!-- BEGIN:radio -->
            <p class="change"><input {radio.checked} type='radio'  name='{radio.name}' value='{radio.value}'/>{radio.text}</p>
            <!-- END:radio -->
            
            <!-- BEGIN:hidden -->
            <input type='hidden' name='{hidden.name}' value='{hidden.value}'/>
            <!-- END:hidden -->
            
            <!-- BEGIN:file -->
            <p class="change"><input type='file' size='{file.size}' {file.required} accept='{file.accet}' name='{file.name}'/></p>  
            <!-- END:file -->
            
            <!-- BEGIN:select -->
            <p class="change"><select name="{select.name}">
                <!-- BEGIN:option -->                
                <option value='{option.value}'>{option.name}</option>
                <!-- END:option -->                
            </select></p>
            <!-- END:select -->
            
            <!-- BEGIN:submit -->
            <p><input type='submit' name='{submit.name}' value='{submit.value}'/></p>
            <!-- END:submit -->
            
        </form> 
        <!-- END:form -->
        <p><input class='sea' type='button' onclick="history.back()" value='Назад'/></p>
    </>
    <br class="spacer" />
</div>
<!-- END:body -->