<!-- BEGIN:footer -->
<div id="footer_main">
    <div id="footer">
        <img src="image/footer_logo.gif" width="125" height="130" />
        <ul>
            <li><a href="/">Главная</a>|</li>
            <li><a href="#">О Нас</a>|</li>
            <li><a href="#">Форум</a>|</li>
            <li><a href="#">Тендеры</a>|</li>
            <li><a href="#">Информация</a>|</li>
        </ul>
        <p>&copy; Copyright by Phoenix Management</p>
        <ul class="xh">
            <li><a href="http://validator.w3.org/check?uri=referer" target="_blank" class="xtm">xhtml</a></li>
            <li><a  href="http://jigsaw.w3.org/css-validator/check/referer" target="_blank" class="ss">css</a></li>
        </ul>
        <p class="copy">Разработано: <a href="mailto:feers@inbox.ru" target="_blank">feers</a></p>
    </div>				
</div>
</body>			
</html>
<!-- END:footer -->