<!-- BEGIN:auth -->
<li class="auth"><span>Авторизация</span></li>
<form action="login.php" name="loginform" method="post">
    <li class="num">Логин <p><input type="text" name="login" placeholder="Логин" size="20" value=""></p></li>
    <li class="num">Пароль <p><input type="password" name="password" placeholder="Пароль"  size="20" value=""></p></li>
    <li></br><input type="submit" value="Войти" name="enter"></li>              
</form>              
<!-- END:auth -->
<!-- BEGIN:autherr -->
    <li class="autherr">Вы неверно ввели пару логина и пароля</li>              
<!-- END:autherr -->
<!-- BEGIN:welcome -->
    <li class="auth">Добро пожаловать,<p><h3>{login}</h3></p></li>
    <form action="login.php" method="post">
    <li><br/><input type="submit" value="Выйти" name="quit"></li>
    </form> 
<!-- END:welcome -->
<!-- BEGIN:quit_building -->    
    <form action="functions/controls.php" method="post">
    <li><br/><input type="submit" value="Выйти из режима дома" name="quit_building"></li>
    </form> 
<!-- END:quit_building -->