<!-- BEGIN:body -->
<body>
<div id="body">
    <!-- BEGIN:delete_js -->       
        <script type="text/javascript">        
            function submiter(frm,ctrname){
                if(confirm("Уверенны что хотите удалить " + ctrname + "?")) document.forms[frm].submit();
                return false;
            }
        </script>
    <!-- END:delete_js -->       
    <div id="leftPan">  
    <!-- BEGIN:contragents_can -->   
    <h2 class="duty">Список Контрагентов</h2>
    <!-- END:contragents_can -->   
        <!-- BEGIN:contragent_inn -->   
        <p class="contragent_inn">В базе данных "Контрагент" с таким ИНН уже присутствует для связывания его с вашим домом нажмите соответсвующую кнопку!</p>     
            <form class="contragent" action="forms.php" method="post">
                <input type="hidden" name="form_name" value="inn_connection_to_building"/>
                <input type="hidden" name="contragent" value="{check_id}"/>
                <input type="submit" name="inn_connection_to_building" value='Связать с домом'/>
            </form>        
        <!-- END:contragent_inn -->   
    <!-- BEGIN:contragents -->   
    <p class="contragent"><b><a href="/pays.php?contragents={contragent_link}">{contragent_name}</a></b></p>     
        <!-- BEGIN:tsj_change -->   
        <form class="contragent" action="forms.php" method="post">
            <input type="hidden" name="form_name" value="{form_name}"/>
            <input type="hidden" name="contragent" value="{contragent_link}"/>
            <input type="submit" name="{form_name}" value='{button_name}'/>
        </form>    
        <!-- END:tsj_change -->   
        <!-- BEGIN:tsj_delete -->        
        <form class="contragent" name="delete" action="forms.php" method="post">
            <input type="hidden" name="form_name" value="{form_name}"/>
            <input type="hidden" name="contragent" value="{contragent_link}"/>
            <input type="submit" name="{form_name}" value='{button_name}' onclick="return submiter('delete','{contragent_name}');"/>
        </form>    
        <!-- END:tsj_delete -->   
    <!-- END:contragents -->
    <!-- BEGIN:contragents_add_can -->   
        <form class="change" action="forms.php" method="post">
            <input type="hidden" name="form_name" value="{form_name}"/>
            <input type="submit" name="{form_name}" value='{button_name}'/>
        </form>       
    <!-- END:contragents_add_can -->    
    <!-- BEGIN:contragent_can -->   
    <h2 class="duty">{contr_name}</h2>
    <p class="more_news"></p>
    <!-- END:contragent_can -->   
    <!-- BEGIN:tsj_change -->   
        <form class="change" action="forms.php" method="post">
            <input type="hidden" name="form_name" value="{form_name}"/>
            <input type="hidden" name="contragent" value="{contragent_link}"/>
            <input type="submit" name="{form_name}" value='{button_name}'/>
        </form>    
    <p class="more_news"></p>
        <!-- END:tsj_change --> 
    <!-- BEGIN:contragent -->   
    <p class="contragent"><b>Тип контрагента:</b>{contr_type}</p>        
    <p class="contragent"><h2>Реквизиты:</h2></p>        
    <p class="contragent"><b>ИНН:</b> {contr_inn}</p>        
    <p class="contragent"><b>КПП:</b> {contr_kpp}</p>        
    <p class="contragent"><b>Юридический адрес:</b> {contr_yur}</p>        
    <p class="contragent"><b>Фактический адрес:</b> {contr_fact}</p>        
    <p class="contragent"><b>e-mail:</b><a href="mailto:{contr_email}">{contr_email}</a></p>        
    <p class="contragent"><b>Номер счета:</b> {contr_account}</p>        
    <p class="contragent"><b>Наименование банка:</b> {contr_bank}</p>        
    <p class="contragent"><b>БИК банка:</b> {contr_bikbank}</p>        
    <p class="contragent"><b>Корр. счет банка:</b> {contr_korbank}</p>  
    <p class="contragent"><b>Информация о контрагенте:</b></p>  
    <p class="contragent">{contr_inf}</p>  
    <p class="more_news"></p>
    <!-- END:contragent -->        
    <!-- BEGIN:contact_can --> 
    <h2 class="duty">Контакты</h2>
    <p class="contragent">{contact_null}</p>  
    <p class="more_news"></p>
    <!-- END:contact_can --> 
    <!-- BEGIN:contact_add --> 
    <form class="change" action="forms.php" method="post">
        <input type="hidden" name="form_name" value="{form_name}"/>
        <input type="hidden" name="contragent_id" value="{contragent_id}"/>
        <input type="submit" name="{form_name}" value='{button_name}'/>
    </form>     
    <p class="more_news"></p>
    <!-- END:contact_add --> 
    <!-- BEGIN:contact --> 
    <p class="contragent"><b>Должность:</b> {contact_post}</p>  
    <p class="contragent"><b>ФИО:</b> {contact_fio}</p>  
    <p class="contragent"><b>Телефон 1:</b> {contact_phone1}</p>  
    <p class="contragent"><b>Телефон 2:</b> {contact_phone2}</p>  
    <p class="contragent"><b>Факс:</b> {contact_fax}</p>  
    <p class="contragent"><b>e-mail:</b> <a href="mailto:{contact_email}">{contact_email}</a></p>  
    <!-- BEGIN:contact_change --> 
    <form class="change" action="forms.php" method="post">
        <input type="hidden" name="form_name" value="{form_name}"/>
        <input type="hidden" name="contact_id" value="{contact_id}"/>
        <input type="hidden" name="contragent_id" value="{contragent_id}"/>
        <input type="submit" name="{form_name}" value='{button_name}'/>
    <!-- END:contact_change --> 
    </form>     
    <p class="more_news"></p>
    <!-- END:contact --> 
    <!-- BEGIN:docs_can --> 
    <script>
        $(document).ready(function(){
            $('.colorbox').colorbox();
        });
    </script>
    <h2 class="duty">Документы</h2>
    <p class="contragent">{docs_null}</p>  
    <p class="more_news"></p>
    <!-- END:docs_can --> 
    <!-- BEGIN:document_add --> 
    <form class="change" action="forms.php" method="post">
        <input type="hidden" name="form_name" value="{form_name}"/>
        <input type="hidden" name="contragent_id" value="{contragent_id}"/>
        <input type="submit" name="{form_name}" value='{button_name}'/>
    </form>     
    <p class="more_news"></p>
    <!-- END:document_add --> 
    <!-- BEGIN:docs --> 
    <p class="contragent"><a class="colorbox" title="{doc_name}" href="{doc_path}{doc_filename}"><b>{doc_name}</b>
            <img src="{doc_path}{doc_filename}" alt="{doc_name}" width="100"/></a></p>    
        <!-- BEGIN:document_change --> 
        <form class="change" action="forms.php" method="post">
            <input type="hidden" name="form_name" value="{form_name}"/>
            <input type="hidden" name="document_id" value="{document_id}"/>
            <input type="hidden" name="contragent_id" value="{contragent_id}"/>
            <input type="submit" name="{form_name}" value='{button_name}'/>
        </form>     
    <p class="more_news"></p>
        <!-- END:document_change --> 
    <!-- END:docs --> 
    <input class="sea" type="button" onclick="history.back()" value="Назад"/>
    </div>
    <br class="spacer" />
</div>
<!-- END:body -->