<!-- BEGIN:body -->
<body>
<div id="body">
    <!-- BEGIN:buttons -->        
        <a href="pays.php?pays&outgoings"><img src="image/plateji_button.png" alt="Платежи и приходы"/></a>
        <a href="pays.php?pays&drawings"><img src="image/vipiski_button.png" alt="Выписки из Банка"/></a>
    <!-- END:buttons -->
    <div id="leftPan">
    <!-- BEGIN:sort -->        
    <script>
	$(function() {
		var dates = $( "#from, #to" ).datepicker({
			defaultDate: "+1w",
			changeMonth: true,
			numberOfMonths: 3,
			onSelect: function( selectedDate ) {
				var option = this.id == "from" ? "minDate" : "maxDate",
					instance = $( this ).data( "datepicker" ),
					date = $.datepicker.parseDate(
						instance.settings.dateFormat ||
						$.datepicker._defaults.dateFormat,
						selectedDate, instance.settings );
				dates.not( this ).datepicker( "option", option, date );
			}
		});
	});
	</script>
        <form action="pays.php?pays&outgoings" method="get">
            <input type="hidden" name="outgoings"/>
            <input type="hidden" name="pays"/>
            <label for="from">С</label>
            <input type="text" id="from" name="from" value='{from_date}'/>
            <label for="to">По</label>
            <input type="text" id="to" name="to" value='{to_date}'/>
            <input type="submit" name="sort" value="Отсортировать"/>
        </form>
    <!-- END:sort -->        
    <!-- BEGIN:outgoings -->  
        <!-- BEGIN:can -->   
            <h4 class="duty">{title}</h4>
        <!-- END:can --> 
        
        <!-- BEGIN:table_start -->   
        <TABLE WIDTH="100%" BORDER=1px CELLSPACING=2 CELLPADDING=2 style="font-size: 12px;">
            <TR>
                <TD ALIGN="center" style="width: 20%"><b>КОНТРАГЕНТ</b></TD>
                <TD ALIGN="center" style="width: 50%"><b>ОСНОВАНИЕ</b></TD>
                <TD ALIGN="center" style="width: 15%"><b>ДАТА ОПЛАТЫ</b></TD>
                <TD ALIGN="center" style="width: 15%"><b>СУММА</b></TD>
            </TR>
        <!-- END:table_start -->   
        <!-- BEGIN:table_data -->   
            <TR>
                <TD ALIGN="center"><a href="pays.php?contragents={contragent_id}">{contragent_name}</a></TD>
                <TD ALIGN="center"><a href="pays.php?pays&outgoings={outgoing_id}">{outgoing_osnovanie}</a></TD>
                <TD ALIGN="center">{outgoing_date}</TD>
                <TD ALIGN="left">{outgoing_amount} руб.</TD>
            </TR>
        <!-- END:table_data -->   
        <!-- BEGIN:table_end -->   
            <TR>
                <TD ALIGN="center"><b>ИТОГО</b></TD>
                <TD ALIGN="center"></TD>
                <TD ALIGN="center"></TD>
                <TD ALIGN="left" style="color: red;"><b>{outgoing_total} руб.</b></TD>
            </TR>
        </TABLE>
        <!-- END:table_end -->
    <!-- END:outgoings -->   
    <!-- BEGIN:create -->
    <form class="change" action="forms.php" method="post">
        <input type="hidden" name="form_name" value="{form_name}"/>
        <input type="submit" name="{form_name}" value='{button_name}'/>
    </form>         
    <!-- END:create -->    
    <!-- BEGIN:incomings --> 
        <!-- BEGIN:can -->   
            <h4 class="duty">{title}</h4>
        <!-- END:can --> 
        <!-- BEGIN:table_start -->   
        <TABLE WIDTH="100%" BORDER=1px CELLSPACING=2 CELLPADDING=2 style="font-size: 12px;">
            <TR>
                <TD ALIGN="center"><b>ТИП Платежа</b></TD>
                <TD ALIGN="center" style="width: 15%"><b>ДАТА ОПЛАТЫ</b></TD>
                <TD ALIGN="center" style="width: 15%"><b>СУММА</b></TD>
            </TR>
        <!-- END:table_start -->  
        <!-- BEGIN:table_data -->   
            <TR>
                <TD ALIGN="center"><a href="pays.php?pays&outgoings&incomings={incoming_id}">{incoming_type}</a></TD>
                <TD ALIGN="center">{incoming_date}</TD>
                <TD ALIGN="left">{incoming_amount} руб.</TD>
            </TR>
        <!-- END:table_data -->  
        <!-- BEGIN:table_end -->   
            <TR>
                <TD ALIGN="center"><b>ИТОГО</b></TD>
                <TD ALIGN="center"></TD>
                <TD ALIGN="left" style="color: red;"><b>{incoming_total} руб.</b></TD>
            </TR>
        </TABLE>
        <!-- END:table_end -->
        <!-- BEGIN:create -->
            <form class="change" action="forms.php" method="post">
                <input type="hidden" name="form_name" value="{form_name}"/>
                <input type="submit" name="{form_name}" value='{button_name}'/>
            </form>         
    <!-- END:create -->
    <!-- END:incomings --> 
    <!-- BEGIN:incoming --> 
    <h2 class="duty">Информация о Приходе:</h2>
    <p class="contragent"><b>Тип Прихода:</b>{incoming_type}</p> 
    <p class="contragent"><b>Дата Прихода:</b>{incoming_date}</p> 
    <p class="contragent"><b>Сумма Прихода:</b>{incoming_amount} руб.</p> 
    <p class="contragent"><b>По выписке со счета:</b><a href="pays.php?pays&drawings={drawing_id}">{drawing_name}</a></p>    
    <!-- END:incoming --> 
    <!-- BEGIN:outgoing -->
    <script>        
    $(document).ready(function(){
            $('.colorbox').colorbox();
        });
    </script>
    <h2 class="duty">Информация о Платеже:</h2>
    <p class="contragent"><b>Основание Платежа:</b>{outgoing_osnovanie}</p> 
    <p class="contragent"><b>Дата Платежа:</b>{outgoing_date}</p> 
    <p class="contragent"><b>Сумма Платежа:</b>{outgoing_amount} руб.</p> 
    <p class="contragent"><b>Фактическая дата создания Платежа:</b>{outgoing_reg_date}</p> 
    <p class="contragent"><b>Фактическая дата изменения Платежа:</b>{outgoing_change_date}</p> 
    <p class="contragent"><b>По выписке со счета:</b><a href="pays.php?pays&drawings={drawing_id}">{drawing_name}</a></p>    
    <p class="contragent"><b>Контрагент:</b><a href="pays.php?contragents={contr_id}">{contr_name}</a></p>    
    <p class="contragent"><b>Нормативный документ:</b><a class="colorbox" title="{doc_name}" href="{doc_path}{doc_filename}">
        <img src="{doc_path}{doc_filename}" alt="{doc_name}" width="100"/></a></p>  
    <p class="more_news"></p>
        <h2 class="duty">Прикрепленный Документ:</h2>
    <p class="contragent"><a class="colorbox" title="{out_name}" href="{out_path}{out_filename}"><b>{out_name}</b>
        <img src="{out_path}{out_filename}" alt="{out_name}" width="100"/></a></p> 
    <!-- END:outgoing -->   
    <!-- BEGIN:drawings -->   
        <!-- BEGIN:can -->   
            <h2 class="duty">Список Выписок из Банка</h2>
        <!-- END:can --> 
        <!-- BEGIN:table_start -->   
        <TABLE WIDTH="100%" BORDER=1px CELLSPACING=2 CELLPADDING=2 style="font-size: 12px;">
            <TR>
                <TD ALIGN="center"><b>НАЗВАНИЕ</b></TD>
                <TD ALIGN="center"><b>ПЕРИОД С</b></TD>
                <TD ALIGN="center"><b>ПЕРИОД ПО</b></TD>
            </TR>
        <!-- END:table_start -->   
        <!-- BEGIN:table_data -->   
            <TR>
                <TD ALIGN="center"><a href="pays.php?pays&drawings={drawing_id}">{drawing_name}</a></TD>
                <TD ALIGN="center">{drawing_start_date}</TD>
                <TD ALIGN="center">{drawing_end_date}</TD>
            </TR>
        <!-- END:table_data -->  
        </TABLE>
        <!-- BEGIN:create -->
        <form class="change" action="forms.php" method="post">
            <input type="hidden" name="form_name" value="{form_name}"/>
            <input type="submit" name="{form_name}" value='{button_name}'/>
        </form>         
        <!-- END:create --> 
    <!-- END:drawings -->   
    
    <!-- BEGIN:drawing -->
        <!-- BEGIN:drawing -->
        <h2 class="duty">Информация о выписке из Банка:</h2>
        <p class="contragent"><b>Название выписки:</b>{drawing_name}</p> 
        <p class="contragent"><b>Период выписки "С":</b>{drawing_start_date}</p> 
        <p class="contragent"><b>Период выписки "ПО":</b>{drawing_end_date}</p> 
        <!-- END:drawing -->
        <p class="more_news"></p>
        <h2 class="duty">Прикрепленные Документы:</h2>
        <script>
        $(document).ready(function(){
            $('.colorbox').colorbox();
        });
        </script>
        <!-- BEGIN:documents -->
        <p class="more_news"></p>
        <p class="contragent"><a class="colorbox" title="{doc_name}" href="{doc_path}{doc_filename}"><b>{doc_name}</b>
        <img src="{doc_path}{doc_filename}" alt="{doc_name}" width="100"/></a></p> 
        <p class="more_news"></p>
        <!-- END:documents -->
    <!-- END:drawing -->   
        <input class="sea" type="button" onclick="history.back()" value="Назад"/>
    </div>
<br class="spacer" />
</div>
<!-- END:body -->