<!-- BEGIN:body -->
<body>
<div id="body">
    <div id="leftPan"> 
        <form action="functions/controls.php" method="post" enctype="multipart/form-data">
            <input type="hidden" name="{form_name}"/>
            <p class="change">Имя документа:</p>
            <p class="change"><input type="text" size="60" required name="document_name" placeholder='Лицензия' value='{document_name}'/></p>            
            <p class="change">Путь к файлу:</p>
            <p class="change"><input type="file" size="60" required accept="image" name="document"/></p>            
            </br>
            <p><input type="submit" name="{button_to_control}" value="{button_name}"/></p> 
        </form>
        <p><input class="sea" type="button" onclick="history.back()" value="Назад"/></p>
    </div>
    <br class="spacer" />
</div>
<!-- END:body -->

