<!-- BEGIN:body -->
<body>
<div id="body">
    <div id="leftPan"> 
        <form action="functions/controls.php" method="post" enctype="multipart/form-data">
            <input type="hidden" name="{form_name}"/>
            <p class="change">Телефон или факс:</p>
            <p class="change"><input checked type="radio" name="type" value="1"/>Телефон</p>
            <p class="change"><input type="radio" name="type" value="2"/>Факс</p>
            <p class="change">Имя Название Службы:</p>
            <p class="change"><input type="text" size="60" required name="phone_name" placeholder='Слесарь' value='{phone_name}'/></p>            
            <p class="change">Номер телефона:</p>          
            <p class="change"><input type="text" size="60" required name="phone_number" placeholder='8(843)210-10-10 для городских, 8-9603-33-66-66 для мобильных' value='{phone_number}'/></p>            
            </br>
            <p><input type="submit" name="{button_to_control}" value="{button_name}"/></p> 
        </form>
        <p><input class="sea" type="button" onclick="history.back()" value="Назад"/></p>
    </div>
    <br class="spacer" />
</div>
<!-- END:body -->

