<!-- BEGIN:body -->
<body>
<div id="body">
    <div id="leftPan">
        <form action="functions/controls.php" method="post">
            <input type="hidden" name="{form_name}"/>       
            <p class="change">Заголовок Новости:</p>
            <p class="change"><input type="text" required="" size="30" placeholder='Отключение воды' name="news_title" value='{news_title}'/></p>                              
            <p class="change">Заголовок Новости:</p>
            <p class="change"><textarea name="news_text" />{news_text}</textarea></p>
            <p><input type="submit" name="{button_to_control}" value="{button_name}"/></p>
        </form>
        <p><input class="sea" type="button" onclick="history.back()" value="Назад"/></p>
    </div>
    <br class="spacer" />
</div>
<!-- END:body -->

