<!-- BEGIN:body -->
<body>
<div id="body">
    <div id="leftPan">
        <form action="functions/controls.php" method="post">
            <input type="hidden" name="{form_name}"/>       
            <p class="change">Выберите Улицу:</p>
            <p class="change">
                <select required name="street_id" >
                    <!-- BEGIN:option_street -->                    
                    <option value="{street_id}">{street_name}</option>
                    <!-- END:option_street -->                    
                </select></p>                              
            <p class="change">Укажите Номер Дома:</p>
            <p class="change"><input type="text" size="10" required placeholder='30/2а' name="building_number" value='{building_number}'/></p>
            <p class="change">Укажите Кол-во Квартир в доме:</p>
            <p class="change"><input type="text" size="10" required placeholder='256' name="building_apps" value='{building_apps}'/></p>
            </br>
            <p><input type="submit" name="{button_to_control}" value="{button_name}"/></p>
        </form>
        <p><input class="sea" type="button" onclick="history.back()" value="Назад"/></p>
    </div>
    <br class="spacer" />
</div>
<!-- END:body -->

