<!-- BEGIN:body -->
<script type="text/javascript">
function JSONStreets(){    
         $.getJSON('json.php', {buildings_list: $('select optgroup option:selected').val()}, function(data){
            var text = '<p class="change">Выберите Дом:</p><p class="change"><select id="attachment" name="building_id">';
            var i;
            for (i=0; i < data.length; i++) {
                text = text +'<option value="'+data[i].id+'">'+data[i].name+'</option>';                
                if(i == 0){
                    id = data[i].id;
                }
            }            
            text = text + '</select></p></p>';
            if(data.length == 0){
                text = '<p class="change">У данной улицы отсутствуют дома</p>';
                text = text + '<p class="change"><a href="/adm.php?functions=buildings">Добавить Дом</a></p><br/>';
            }
           $('#buildings').append(text);
            });   
}

$(document).ready(function(){
        JSONStreets();
        $('select').change(function (){
            $('#buildings').empty(); 
            JSONStreets();
        });
});
</script>
<body>
<div id="body">
    <div id="leftPan"> 
        <form action="functions/controls.php" method="post">
            <input type="hidden" name="{form_name}"/>
            <p class="change">Выберите Улицу:</p>
            <p class="change">
                <select name="street">
                    <optgroup label="Улица">                         
                        <!-- BEGIN:street -->
                        <option value="{street_id}">{street_name}</option>
                        <!-- END:street -->
                    </optgroup>
                </select>
            </p>
            <div id="buildings"></div>           
            <br/>
            <p><input type="submit" name="{button_to_control}" value="{button_name}"/></p>
            <br/>
        </form>
        <p><input class="sea" type="button" onclick="history.back()" value="Назад"/></p>
    </div>
    <br class="spacer" />
</div>
<!-- END:body -->