<!-- BEGIN:body -->
<body>
<div id="body">
    <div id="leftPan">
        <form action="functions/controls.php" method="post">
            <input type="hidden" name="{form_name}"/>       
            <p class="change">Название Улицы:</p>
            <p class="change"><input type="text" required="" size="30" placeholder='Ул. Островского' name="street_name" value='{street_name}'/></p>                              
            </br>
            <p><input type="submit" name="{button_to_control}" value="{button_name}"/></p>
        </form>
        <p><input class="sea" type="button" onclick="history.back()" value="Назад"/></p>
    </div>
    <br class="spacer" />
</div>
<!-- END:body -->

