<!-- BEGIN:body -->
<script type="text/javascript">
function JSONStreets(){    
         $.getJSON('json.php', {buildings_list: $('select optgroup option:selected').val()}, function(data){
            var text = '<p class="change">Выберите Дом:</p><p class="change"><select id="attachment" name="building_id">';
            var i;
            for (i=0; i < data.length; i++) {
                text = text +'<option value="'+data[i].id+'">'+data[i].name+'</option>';                
                if(i == 0){
                    id = data[i].id;
                }
            }            
            text = text + '</select></p></p>';
            if(data.length == 0){
                text = '<p class="change">У данной улицы отсутствуют дома</p>';
                text = text + '<p class="change"><a href="/adm.php?functions=buildings">Добавить Дом</a></p><br/>';
            }
           $('#buildings').append(text);
            });   
}

$(document).ready(function(){
        JSONStreets();
        $('select').change(function (){
            $('#buildings').empty(); 
            JSONStreets();
        });
});
</script>
<body>
<div id="body">
    <div id="leftPan"> 
        <form action="functions/controls.php" method="post">
            <input type="hidden" name="{form_name}"/>
            <p class="change">Выберите Улицу:</p>
            <p class="change">
                <select name="street">
                    <optgroup label="Улица">                         
                        <!-- BEGIN:street -->
                        <option value="{street_id}">{street_name}</option>
                        <!-- END:street -->
                    </optgroup>
                </select>
            </p>
            <div id="buildings"></div>
            <p class="change">Выберите Роль:</p>
            <p class="change">
                <select name="role">
                    <optgroup label="Роль">  
                        <option value="0">Администратор</option>
                        <option value="1">Пользователь</option>
                        <option value="2">Дом Управляющие</option>
                        <option value="3">Муниципалитет</option>
                    </optgroup>
                </select>
            </p>
            <p class="change">Логин:</p>
            <p class="change"><input type="text" size="30" required placeholder='kzn_adkut_24_156_pvv' name="login" value='{login_user}'/></p>
            <p class="change">Пароль:</p>
            <p class="change"><input type="text" size="30" required name="password" value='{password}'/></p>
            <p class="change">Номер Квартиры:</p>
            <p class="change"><input type="text" size="10" placeholder='156' required name="app_number" value='{app_number}'/></p>
            <p class="change">Фамилия:</p>
            <p class="change"><input type="text" size="30" placeholder='Пупкин' name="last_name" value='{last_name}'/></p>
            <p class="change">Имя:</p>
            <p class="change"><input type="text" size="30" placeholder='Василий' name="first_name" value='{first_name}'/></p>
            <p class="change">Отчество:</p>
            <p class="change"><input type="text" size="30" placeholder='Васильевич' name="third_name" value='{third_name}'/></p>
            <p class="change">Должность: (Оставить пустым, если ориентируемся на его роль)</p>
            <p class="change"><input type="text" size="45" placeholder='Дворник (Генеральный директор метлы)' name="post" value='{post}'/></p>
            <p class="change">Телефон 1:</p>
            <p class="change"><input type="text" size="30" placeholder='8(843)251-00-10' name="phone1" value='{phone1}'/></p>
            <p class="change">Телефон 2:</p>
            <p class="change"><input type="text" size="30" placeholder='8-9600-58-59-12' name="phone2" value='{phone2}'/></p>
            <br/>
            <p><input type="submit" name="{button_to_control}" value="{button_name}"/></p>
            <br/>
        </form>
        <p><input class="sea" type="button" onclick="history.back()" value="Назад"/></p>
    </div>
    <br class="spacer" />
</div>
<!-- END:body -->

